//**蓝色主题样式全局变量**
//**公共样式***********************************************/
$color_top: #1b1b2c; // 顶部标题颜色
$color_panel: rgba(0, 0, 0, 0.75); //左、右、下面板颜色、弹出框面板颜色
$color_white: #fff; // 白色
$color_black: #000; // 黑色
$color_gray: #999999; //灰色
$color_darkYellow: #ff9600; // 深黄色
$color_active: #43bafe; // 选中状态
$color_title: #43bafe; // 一级标题颜色 标题
$color_tab: #2f405f; // tab标签选项颜色（非选中状态）
$color_tab_font: #999999; // tab标签字体颜色
$color_subTitle: #fff; // 二级标题颜色
$color_default: #a5a5a5; // 默认字体颜色
$color_contentBG: #151520; // 内容面板背景色
$color_border: #43bafe; // 一级标题左侧边框颜色
$color_tab: #2f405f; // tab标签选项颜色（非选中状态）
$color_tab_font: #999999; // tab标签字体颜色
$color_select: #288cba; // select选择框背景色
$color_labelBG: #182539; // 绿色建筑标签背景
$color_star: rgba(240, 199, 140, 1);
$color_fontColor: #b9f2fa; // 面板中间数字
$color_contentBorder: #323149; // 内容面板边框

//**健康社区*************************************************/
$color_fontColor: #b9f2fa; // 面板中间数字
$color_indexBorder: #484768; // 指标边框
$color_indexBG: #212031; // 指标顶部背景色
$color_indexBG2: #0f0e18; // 指标底部背景色
$color_buildinglabel: rgba(255, 255, 255, 0.9); // 非重点楼宇标签颜色
$color_buildinglabelselected: rgba(255, 150, 0, 1); // 重点楼宇标签颜色
$color_star: rgba(240, 199, 140, 1);
$color_labelBG: #182539; // 绿色建筑标签背景
$color_lengendBG: #10101d; // 图例背景色
/**end 健康社区***********************************************/

//**噪声、风热、能耗中表边框背景色*******************/
$color_RowBg: #191919;
$color_Border: #323149;
$color_LabelFocus: rgba(0, 255, 255, 1);
//**end噪声、风热、能耗中表边框背景色*******************/

//**空气质量**************************************************/
$color_curAQIChartBG: rgba(255, 150, 0, 1); // 整体态势标签颜色
$color_airAlarmBG: rgba(255, 150, 0, 1); // 预警牌背景色
$color_airAlarmColor: rgb(114, 6, 6); // 预警牌背景色
/**end 空气质量***********************************************/

//**风热环境**************************************************/
$color_RED: rgba(255, 92, 92, 1); // 红色测点颜色
$color_GREEN: rgba(66, 182, 91, 1); // 绿色测点颜色
/**end 风热环境***********************************************/

// 事件列表相关颜色
$event_bg: rgba(255, 255, 255, 0.08); //事件列表背景
$event_border: 1px rgba(255, 92, 92, 0.75) solid; //事件列表选中边框
$event_import: rgba(255, 92, 92, 0.75); //重要事件
// 自定义表格样式
$tb_header: rgba(67, 186, 254, 0.25); //表头背景色
$tb_content: rgba(255, 150, 0, 0.1); //表内容背景色
$tb_con_active: rgba(255, 150, 0, 0.35); //表内容滑过和选中背景色
/**end公共样式***********************************************/

//**整体态势*************************************************/
$color_situationBG: rgba(255, 150, 0, 1); // 整体态势标签颜色
/**end 整体态势***********************************************/

//**楼宇经济*************************************************/
$color_ecoActiveitem: rgba(67, 186, 254, 0.4); //重点楼宇高亮
$color_econoActive: rgba(255, 255, 255, 0.1); //重点楼宇不高亮
$color_bglabel: rgba(0, 0, 0, 0.8); //弹框背景色
$color_buildinglabel: rgba(255, 255, 255, 0.9); // 非重点楼宇标签颜色
$color_buildinglabelmain: rgb(62, 172, 170); // 重点楼宇标签颜色
$color_buildinglabelborder: #fec848; // 重点楼宇标签边框颜色
$color_buildinglabelselected: rgba(255, 150, 0, 1); // 重点楼宇标签颜色
$color_buildinglabelBG: rgba(250, 261, 21, 0.6); // 重点楼宇标签背景颜色
$color_buildinglabelBG2: rgba(250, 261, 21, 0); // 重点楼宇标签背景颜色2
$color_buildinglabel_temp: rgba(250, 261, 21, 1); // 重点楼宇标签颜色
$color_floorDot: rgba(255, 255, 255, 1); // 楼层漂浮的点颜色
$color_floorLineS: rgba(255, 255, 255, 1); // 楼层漂浮的线起始颜色
$color_floorLineE: rgba(255, 255, 255, 0); // 楼层漂浮的线终止颜色
$color_floorCircleOut: rgba(255, 150, 0, 0.8); // 楼层漂浮圆圈外颜色
$color_floorCircleIn: rgba(255, 150, 0, 0.3); // 楼层漂浮圆圈内颜色
$color_floorYellow: #fec848; //楼宇标签颜色
$color_topicBlue: #306b95; //专题图标签颜色
$color_floorLayout: #1b1b2c; //户型详情标签颜色
/**end楼宇经济***********************************************/

//**设备管理*************************************************/
$color_deviceBG: rgba(250, 261, 21, 1); // 设备管理标签颜色
$color_strucSec: rgba(255, 255, 255, 0.25); //重点楼宇不高亮
/**end 设备管理***********************************************/

//**能耗管理*************************************************/
$energy_bn_bg1: #d8d8d8;
$energy_bn_bg2: #1b1b2c;
$energy_bn_bg3: #ff9600;
$energy_shadow1: rgba(0, 0, 0, 0.5);
$energy_bn_color2: #666666;
$energy_sel_color1: #ff9600;
$return_color: rgb(119, 187, 226); // 返回按钮
$return_color_h: rgb(39, 205, 255);
$enter_bg: #778899; // 进入bim场景时的背景色
$color_Border: #323149;
$color_R0: #d25c65;
$color_R1: #d37f54;
$color_R2: #c89f65;
$color_R3: #76af4c;
$color_R4: #43bb85;
$color_bg0: #5a6ae1;
$color_bg1: #2a9783;
$color_bg2: #c05d4e;
/**end 能耗管理***********************************************/

//**安防管理*************************************************/
/**end安防管理***********************************************/

//**结构监测*************************************************/
$color_strucSuiation: rgba(53, 148, 203, 0.8); // 结构监测标头
/**end结构监测***********************************************/

//**台风预警表边框背景色*******************/
$color_TBTopBG: #212031;
$color_TBBorder: #373553;
$color_TBCtx1: #151520;
$color_TBCtx2: #1c1b29;
$fontColor_Blue: #288cba;
$color_List: #56556c;
$color_Title: #1c1b2b;
$color_TitleBG: #292933;
$color_infoCtx: #353541;
$color_infoBorder: #585765;
//**end台风预警中表边框背景色*******************/

// 用到的element-ui组件颜色样式
$color_select: #288cba; // select选择框背景色
$color_dropdown: rgba(40, 140, 186, 0.9); // dropdown下拉框背景颜色
